# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Environment
.env
.env.local
.env.*.local

# Django
db.sqlite3
*.log
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/
